@import '../../less/variables.less';

:host {
  top: 0;
}

#dialog {
  background-color: white;

  min-width: 250px;
  max-width: 600px;

  padding: 32px;
}

#dialog h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: @dialog-text-color;
  margin: 0 0 24px 0;
}

#dialog p {
  margin: 0 0 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: @dialog-text-color;
}

#dialog li {
  margin: 0 0 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: @dialog-text-color;
}

#dialog ol,
#dialog ul,  {
  margin: 0 0 30px 0;
}

#dialog li a {
  font-size: 14px;
  color: @dialogs-primary-color;
}

#dialog #controls {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#dialog #controls button,
#dialog #controls a.button {
  display: block;
  background-color: @dialogs-neutral-color;
  color: @dialog-text-color;


  text-decoration: none;
  
  border: none;
  outline: none;
  
  font-size: 14px;
  padding: 10px 20px;
  margin-right: 10px;
}

#dialog #controls button.primary,
#dialog #controls a.button.primary {
  background-color: @dialogs-primary-color;
  color: @dialog-text-color;
}

#dialog #controls button.primary[disabled] {
  background-color: @dialogs-neutral-color;
}

#dialog #controls button:hover,
#dialog #controls a.button:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}

#dialog #controls button.primary:hover,
#dialog #controls a.button.primary:hover {
  background-color: #3eeeb7;
  cursor: pointer;
}

#dialog #controls button:active,
#dialog #controls a.button:active {
  color: black;
}
