// TODO: improve drag and drop styles and interaction

@import '../../less/variables.less';

#tabs {
  height: @editor-tabs-height;

  background-color: @editor-tabs-background-color;

  width: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: row;
}

.tab {
  height: @editor-tabs-height;
  box-sizing: border-box;
  border-bottom: 1px solid @panel-stroke-color;
  border-right: 1px solid @panel-stroke-color;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #cecece;
  white-space: nowrap;
  background-color: @editor-tabs-tab-color;
  padding-left: 10px;
  padding-right: 10px;

  // tab default width
  // this will be modified in javascript
  // as more tabs are added and space is scarce
  width: 120px;

  // margin-right: 1px;

  font-size: @default-font-size;

  user-select: none;

  // remove :hover, as it keeps styles
  // on drop splice
  // &:hover,
  &.iron-selected {
    color: white;
    background-color: @editor-tabs-tab-active-color;
    
    border-bottom: none;
  }
  
  // TODO:
  // remove border of last tab
  // &:last-of-type {
  //   color: red;
  //   border-right: none;
  // }


  button {
    position: absolute;

    top: 50%;

    right: 6px;
    transform: translateY(-50%);
    opacity: 1;

    display: flex;

    background-color: transparent;
    opacity: 0.8;

    border: none;
    outline: none;
    color: @editor-tabs-text-color;

    height: 14px;
    width: 14px;

    padding: 0 0;

    cursor: auto;

    iron-icon {
      --iron-icon-width: 14px;
      --iron-icon-height: 14px;
    }

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  // statuses
  iron-icon[icon="refresh"] {
    // display none in default status
    display: none;
  }

  // loading
  &[status="loading"] {
    button {
      iron-icon {
        color: @editor-tabs-unsaved-color;
      }

      iron-icon[icon="close"] {
        display: none;
      }

      iron-icon[icon="refresh"] {
        display: block;

        animation-name: spin;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      &:hover {
        iron-icon[icon="close"] {
          display: block;
        }

        iron-icon[icon="refresh"] {
          display: none;
        }
      }
    }
  }

  // unsaved file
  &[status="unsaved"] {
    button {
      iron-icon {
        color: @editor-tabs-unsaved-color;
      }
    }
  }

  // preview
  &[status="preview"] {
    .tab-name {
      font-style: italic;
    }
  }
}

.tab.dragging {
  opacity: 0.3;
}

.tab.dragover {
  opacity: 0.7;
  background-color: @editor-tabs-tab-active-color;
}

.tab.dragover button {
  // prevent the button  from interfering with drag and drop
  pointer-events: none;
}

.tab.dragover:before {
  content: "";
  position: absolute;

  width: 5px;
  height: 70%;
  background-color: white;

  // triangle
  // border-top: 5px solid transparent;
  // border-bottom: 5px solid transparent;

  // border-left: 5px solid white;

  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 9999;
}

.tab.dragover-left:before {
  left: 0;
}

.tab.dragover-right:before {
  right: -6px;
}

.tab .tab-name {
  pointer-events: none;

  width: calc(100% - 15px);
  overflow: hidden;

  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

#empty-placeholder {
  border-bottom: 1px solid @panel-stroke-color;
  flex-grow: 1;
}

// spin animation
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
