@import '../../less/variables.less';

@tab-height: 32px;
@tab-color: #585858;

#tabs {
  height: @tab-height;

  background-color: #3C3C3C;

  width: 100%;

  // overflow: hidden;

  display: flex;
  flex-direction: row;
}

.tab {
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #cecece;
  white-space: nowrap;
  background-color: @tab-color;
  padding-left: 8px;
  padding-right: 8px;

  width: 120px;

  margin-right: 1px;

  font-size: 13px;

  user-select: none;
  // cursor: pointer;

  // transition: all ease 0.3s;

  // remove :hover, as it keeps styles
  // on drop splice
  // &:hover,
  &.iron-selected {
    color: white;
    background-color: #272822;
    // cursor: pointer;
  }


  // * unsaved marker
  // .unsaved {
  //   display: block;
  //   margin-left: 2px;
  //   font-size: 16px;
  //   color: #e29a27;
  // }

  // button.close {
  //   display: flex;

  //   border: none;
  //   outline: none;
  //   color: lightgray;

  //   height: 15px;
  //   width: 15px;

  //   margin-left: 4px;
  //   margin-right: 4px;

  //   padding: 0 0;

  //   cursor: auto;

  //   iron-icon {
  //     --iron-icon-width: 15px;
  //     --iron-icon-height: 15px;
  //   }

  //   &:hover {
  //     background-color: lighten(black, 30%);
  //   }
  // }
}

.tab.dragging {
  opacity: 0.2;
}

.tab.dragover:before {
  content: "";
  position: absolute;

  width: 5px; 
  height: 70%;
  background-color: white;

  // triangle
  // border-top: 5px solid transparent;
  // border-bottom: 5px solid transparent;
  
  // border-left: 5px solid white;

  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 9999;
}

.tab.dragover-left:before {
  left: 0;
}

.tab.dragover-right:before {
  right: -6px;
}