@import '../../less/variables.less';

@tab-height: 32px;
@tab-color: #585858;

@tab-padding: @tab-height / 4;

@close-icon-size: 13px;
@font-size: 13px;

@unsaved-color: orange;

#tabs {
  height: @tab-height;

  background-color: #3C3C3C;

  width: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: row;
}

.tab {
  height: 100%;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: #cecece;
  white-space: nowrap;
  background-color: @tab-color;
  padding-left: @tab-padding;
  padding-right: @tab-padding;

  // tab default width
  // this will be modified in javascript
  // as more tabs are added and space is scarce
  width: 120px;

  margin-right: 1px;

  font-size: @font-size;

  user-select: none;

  // remove :hover, as it keeps styles
  // on drop splice
  // &:hover,
  &.iron-selected {
    color: white;
    background-color: #272822;
  }

  button {
    position: absolute;

    top: 50%;
    
    right: 6px;
    transform: translateY(-50%);
    opacity: 0.4;

    display: flex;

    background-color: transparent;

    border: none;
    outline: none;
    color: lightgray;

    height: @close-icon-size;
    width: @close-icon-size;

    padding: 0 0;

    cursor: auto;

    iron-icon {
      --iron-icon-width: @close-icon-size;
      --iron-icon-height: @close-icon-size;
    }

    &:hover {
      opacity: 1;
      // color: lighten(lightgray, 30%);
    }
  }

  // statuses
  iron-icon[icon="refresh"] {
    // display none in default status
    display: none;
  }

  // loading
  &[status="loading"] {
    button {
      iron-icon {
        color: @unsaved-color;
      }

      iron-icon[icon="close"] {
        display: none;
      }

      iron-icon[icon="refresh"] {
        display: block;

        animation-name: spin;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      &:hover {
        iron-icon[icon="close"] {
          display: block;
        }

        iron-icon[icon="refresh"] {
          display: none;
        }
      }
    }
  }

  // unsaved file
  &[status="unsaved"] {
    button {
      iron-icon {
        color: @unsaved-color;
      }
    }
  }

  // preview
  &[status="preview"] {
    .tab-name {
      font-style: italic;
    }
  }
}

.tab.dragging {
  opacity: 0.2;
}

.tab.dragover button {
  // prevent the button  from interfering with drag and drop
  pointer-events: none;
}

.tab.dragover:before {
  content: "";
  position: absolute;

  width: 5px; 
  height: 70%;
  background-color: white;

  // triangle
  // border-top: 5px solid transparent;
  // border-bottom: 5px solid transparent;
  
  // border-left: 5px solid white;

  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 9999;
}

.tab.dragover-left:before {
  left: 0;
}

.tab.dragover-right:before {
  right: -6px;
}

.tab .tab-name {
  pointer-events: none;

  width: calc(100% - 15px);
  overflow: hidden;

  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}


// spin animation
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}