#iframe-browser {

  height: 100%;

  iframe {
    // iframe has display `inline` by default
    display: block;

    box-sizing: border-box;

    height: ~'calc(100% - 32px)';
    width: 100%;

    border: 1px red solid;
  }
}
