// @brand-color:         #0ADDA6;
// @brand-color-lighter: #3EEEB7;
//
// @light-color:    #F5F5F5;
// @grey-color-light: #3C3C3C;
// @grey-color:       #A3A3A3;
// @grey-color-dark: #6D6D6D;
// @dark-color:  #3C3C3C;
//
// @spacing-unit: 20px;
// @header-heigth: 32px;
//
// @desktop-width: 1024px;
// @mobile-width: 400px;
// @tablet-width: 768px;

/**
 * Dark-theme
 */

/**
 * Overall
 */
@default-font-size: 12px;

// themable


/**
 * panels
 */

// themable
@panel-header-color: #3C3C3C;
@panel-header-active-color: #494949;
@panel-body-color: #494949;
@panel-stroke-color: #212121;
@panel-text-color: #F5F5F5;

/**
 * file-tree
 */
@left-panel-header-height: 32px;

// themable
@file-tree-text-color: #F5F5F5;
@file-tree-color: #494949;
@file-tree-node-active-color: #6D6D6D;

/**
 * tabs
 */
@editor-tabs-height: 32px;

// themable
@editor-tabs-tab-color: #494949;
@editor-tabs-tab-active-color: #292929;
@editor-tabs-background-color: #3C3C3C;
@editor-tabs-text-color: #F5F5F5;

// @tab-color: #585858;
// @tab-button-color: lightgray;
@editor-tabs-unsaved-color: #F9C45A;
