@import '../../less/variables.less';

#controls {
  height: 32px;

  background-color: yellow;

  display: flex;

  flex-direction: row;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;
}

#controls .control {
  display: flex;

  background-color: orange;
  padding: 0 0;

  margin-top: 0;
  margin-bottom: 0;

  margin-left: 0;
  margin-right: 0;

  height: 16px;
  width: 16px;

  border: none;
  outline: none;
}

#controls .control:hover {
  cursor: pointer;
  background-color: red;
}

#controls .control:active {
  background-color: darkred;
}

#controls .control[disabled] {
  cursor: auto;
  opacity: 0.5;
}

#controls .control[disabled]:hover {
  background-color: orange;
}

#controls .control iron-icon {
  height: 16px;
  width: 16px;
}

#controls #new-tab {
  margin-right: 3px;
}

#location-input {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 12px;

  flex-grow: 1;

  // we just need ANY width value to be
  // set so that flexbox makes the
  // contents hide and use ellipsis
  // TODO: study better how this works!
  width: 100px;

  background-color: skyblue;
}
