@import '../../less/variables.less';

#controls {
  height: 40px;

  background-color: @panel-header-color;
  
  border-bottom: 1px solid @panel-stroke-color;
  
  box-sizing: border-box;

  display: flex;

  flex-direction: row;
  align-items: center;

  padding-left: 8px;
  padding-right: 8px;
}

#controls .control {
  display: flex;

  opacity: 0.8;

  background-color: transparent;
  padding: 0 0;

  margin-top: 0;
  margin-bottom: 0;

  margin-left: 0;
  margin-right: 0;

  height: 18px;
  width: 18px;

  border: none;
  outline: none;
  
  transition: opacity .3s ease;
}

#controls .control:hover {
  cursor: pointer;
  opacity: 1;
}

#controls .control:active {
  background-color: @panel-header-active-color;
}

#controls .control[disabled] {
  cursor: auto;
  opacity: 0.2;
}

#controls .control[disabled]:hover {

}

#controls .control iron-icon {
  height: 18px;
  width: 18px;

  fill: @panel-text-color;
}

#controls #back {
  margin-right: 4px;
}

#controls #new-tab,
#controls #forward {
  margin-right: 8px;
}

#location-input {
  margin-left: 10px;
  margin-right: 10px;

  padding-left: 4px;
  padding-right: 4px;

  font-size: 12px;
  line-height: 22px;

  flex-grow: 1;

  // we just need ANY width value to be
  // set so that flexbox makes the
  // contents hide and use ellipsis
  // TODO: study better how this works!
  // width: 100px;
  overflow: hidden;
  white-space: nowrap;
  // ellipsis not working
  // TODO: study
  // text-overflow: ellipsis;


  background-color: white;
}
