// not being used at the moment

@import '../../less/variables.less';

#panel-container {
  position: fixed;
  // top: @header-heigth;
  top: 0;
  bottom: 0;
  overflow: auto;
  // overflow-y: hidden;
  // overflow-x: auto;
  width: 100%;

  section.panel {
    position: absolute; // relativo ao pai dele
    top: 0;
    bottom: 0;
  }
}

.handle {
  z-index: 10;
  width: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  
  cursor: col-resize;
  transform: translateX(-50%);

  user-select: none;

  &.dragging {
    width: 600px;
  }
}

#left {
  overflow: auto;
  background-color: #efefef;
}

#center {
  overflow: auto;
  background-color: #3C3C3C;
}

#right {
  overflow: auto;
  // background-color: @grey-color-light;
}