@import './less/reset.less';
@import './less/variables.less';

@import './less/iframe-browser.less';
@import './less/tabbed-editor.less';
@import './less/notifications.less';

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#header {
  height: 25px;
}

[panel="left"] {
  // safety padding
  padding-bottom: 80px;
}

[panel="right"] {
  height: 100%;
}
